@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html{
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box; /*border box inside parent container */
    height: 100%;
}
/*aligns items in center, content specs; flex */
body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin: 0;
}
/*card specs -> background */
#card{
    background-color: white;
    border-radius: 19px;
    width: 320px;
    height: 500px;
    padding: 15px;
    margin: 20px;
}

#card > img{
    max-width: 100%;
}

#qrcode{
    border-radius: 10px;
}

h1{
    padding: 0 15px 0 15px ;
}

p{
    color: gray;
    padding: 0 20px 10px 20px ;
}